.main{
    border: 3px solid blue;
    background: #F0F0F0;
    padding: 1rem;
    height: 500px;
}

h1{
    color: blue;
    font-family: arial;
    font-style: italic;

}



.first{
    background-color: yellow;
    float: left;
    font-size: 25px;
    width: 300px;
    padding: 10px;
    margin: 0px 20px 0 0;

}


.second{
    
    font-size: 25px;
    display: inherit;
    /* float: left;
    width: 619px; */
    /* width: 700px;
    padding: 0px 0 0 13px; */
}

.third{

    background-color: orange;
    float: left;
    font-size: 22px;
    width: 272px;
    padding: 10px;
    position: absolute;
    left: 200px;
    top: 312px;

}

.fourth{

    background-color: orangered;
    float: left;
    font-size: 22px;
    width: 277px;
    position: relative;
    left: 213px;
    top: 114px;
    color: white;
    padding: 10px;

}