
p:nth-child(5) {
    background: revert;
    box-shadow: revert;
    padding: revert;
 }
 
 a {
    font-size: 12px;
 }
 
 /* Add styles here */

 body{
    background: radial-gradient(white,lightgray);
 }


 h1{
    color: darkblue;
    font-size: 40px;
    font-family: arial;
    text-shadow: gray 5px 5px 6px;
 }

#card{
    border: 1px solid darkblue;
    background: linear-gradient(160deg,darkblue, skyblue);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    width: 31%;
    border-radius: 0.5rem;
    box-shadow: gray 8px 8px 8px -3px ;
 }

 a{
    font-size: 20px;
 }